<ActionBar title="NativeScript Mobile App" class="action-bar" flat="true">
</ActionBar>

<StackLayout class=" p-x-10 ">
  <Label text="Angular NativScript POC" class="h1 text-center c-white"></Label>
  <Image
    src="https://imgur.com/pBrnaL7.jpg"
    class="h-center"
    height="150"
   
  ></Image>

  <Button
    [text]="'Tap to Load'"
    (tap)="onButtonTap()"
    class="btn-primary p-x-10"
  ></Button>

  

  <StackLayout class="p-10 m-t-5" *ngIf="rgbaColor.color">
    <StackLayout
      class="p-10 p-y-10 p-b-10 m-10"
      [ngStyle]="{
        backgroundColor: rgbaColor.color,
      }"
    >
      <Label
        [text]="'Color ' + rgbaColor.color"
        class="bold title c-white m-5"
      ></Label>
    </StackLayout>
    <Slider
      #red
      label="Red"
      class="m-t-30 red"
      [value]="rgbaColor.red"
      minValue="0"
      maxValue="255"
      (valueChange)="onSliderValueChanged('red', red['value'])"
    ></Slider>

    <Slider
      #green
      label="Green"
      class="m-t-10 green"
      [value]="rgbaColor.green"
      minValue="0"
      maxValue="255"
      (valueChange)="onSliderValueChanged('green', green['value'])"
    ></Slider>

    <Slider
      #blue
      label="Blue"
      class="m-t-10 blue"
      [value]="rgbaColor.blue"
      minValue="0"
      maxValue="255"
      (valueChange)="onSliderValueChanged('blue', blue['value'])"
    ></Slider>

    <Slider
      #opacity
      label="Opacity"
      class="m-t-10"
      [value]="rgbaColor.opacity"
      minValue="0"
      maxValue="1000"
      (valueChange)="onSliderValueChanged('opacity', opacity['value'])"
    ></Slider>
  </StackLayout>
</StackLayout>
